/* Popup Styles */
.popup-overlay, .task-popup-overlay, .project-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-overlay:not(.hidden), .task-popup-overlay:not(.hidden), .project-popup-overlay:not(.hidden) {
  display: flex; /* Show the popup when it's not hidden */
}

/* Popup Content */
.popup-content, .task-popup-content, .project-popup-content {
  position: relative;
  background-color: #33363B;
  padding: 2vh 2vw; /* Remove padding to align header and buttons */
  border-radius: 12px;
  width: 60vw !important;
  max-height: 80vh !important; /* Set a maximum height */
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Ensure padding is accounted for in the width/height calculation */
  font-family: 'Inter', sans-serif;
  overflow: none; /* Prevent popup overflow */  
  z-index: 999;
}

/* Popup Header */
.popup-header {
  background-color: #33363B;
  font-size: 1.5vh; /* Font size in vh for scaling */
  font-weight: bold;
  padding: 1vh;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Popup Header Title */
.popup-header h2 {
  margin-left: 2vw; /* Left margin using vw */
  font-size: 2vh; /* Font size in vh for responsiveness */
}

/* Popup Buttons Container */
.popup-buttons {
  background-color: #33363B;
  display: flex;
  justify-content: flex-end;
  padding: 1vh;
}

/* Popup Buttons */
.popup-buttons button {
  background-color: transparent;
  color: white;
  border: 1.5px solid transparent;
  border-radius: 8px;
  padding: 0.5vh 1.5vw; /* Vertical padding in vh and horizontal padding in vw */
  cursor: pointer;
  font-size: 1.2vh; /* Font size in vh */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.popup-buttons button:hover {
  background-color: #949AA0;
  color: white;
}

/* Cancel Button Styling */
.popup-buttons .cancel-button .save-button .popup-buttons .cancel-task-button {
  background-color: transparent;
  color: white;
  border: 1.5px solid transparent;
  border-radius: 10px;
  font-size: 1.2vh;
  padding: 0.5vh 2vw; /* Adjusted padding */
  cursor: pointer;
}

/* Ensure hidden class is used to hide the popups */
.hidden {
  display: none;
}
